v-container.home
  .display-1.font-weight-light.text-center.mt-6 {{ title }}
  v-row.justify-center
    v-col(cols=4)
      v-text-field(v-model="userID", label="userID")
      v-text-field(v-model="password", label="password" type="password")
    v-col(cols=12)
    v-btn(color="primary" large @click="signin()") SignIn
    v-col(cols=12)
    v-col.token-text(cols=10) {{ token }}
